<div>

<div id="footer">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-12 infoWeb">
            <div class="description">
                <img src="assets/img/Logo_white.png" alt="">
                <p>Trang thông tin lễ hội hàng đầu Việt Nam.</p>
                <p>Lễ Hội Việt được xây dựng bởi cộng đồng nhằm chia sẻ những thông tin lễ hội thú vị, đặc sắc trên khắp mọi miền đất nước.</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 infoWeb about-us">
            <h4>Về chúng tôi</h4>
            <div><a href="#/">Giới thiệu</a></div>
            <div><a href="#/">Điều khoản</a></div>
            <div><a href="#/">Liên hệ</a></div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 infoWeb">
            <h4>Đăng ký nhận email</h4>
            <div class="subcribe-email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" placeholder="Email của bạn">
            </div>
        	<h4 class="margin-footer">Theo dõi thêm</h4>
            <div>
                <ul class="list-inline social-icon">
                    <li><a href="https://twitter.com/" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="https://www.youtube.com/" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 infoWeb">
            <h4>Tags</h4>
            <div class="list-tag">
                <a href="#/festivals">Du lịch</a>
                <a href="#/festivals">Lễ hội</a>
                <a href="#/festivals">Hà Nội</a>
                <a href="#/festivals">Hồ Chí Minh</a>
                <a href="#/festivals">Ngoài trời</a>
                <a href="#/festivals">Trong nhà</a>
                <a href="#/festivals">Âm nhạc</a>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="copyright">
  <div class="container">
      <div class="row">
          <div class="copy-left">
              <p>Hệ thống đăng thông tin về các hoạt động du lịch , lễ hội hàng đầu Việt Nam</p>
              <p>Bản quyền thuộc về lehoiviet.vn © 2016</p>
              <p class="text-center">Make with <i class="fa fa-heart text-red"> Vietnam</i></p>
          </div>
      </div>
  </div>
</div>

</div>
