@import "var";
.bg-grey {
    background-color: #F5F5F5;
}

.bg-white {
    background-color: #fff;
}

.boderTop {
    border-top: 1px solid #e1e1e1;
}

.fontWeitgh600 {
    font-weight: 600;
}

.brleft {
    border-left: 1px solid #e1e1e1;
}

.brright {
    border-right: 1px solid #e1e1e1;
}

.colorWord {
    color: #228aa9;
}
.checkErroLink{
    display: none;
}


#article {
    color: #555;
    font-weight: 400;
    h2 {
        font-size: 20px;
        padding: 5px 0 5px 10px;
        border-left: 5px solid;
    }
}
.btn-xs{
    border-radius: 0;
}
.arrayContent{
        padding-left: 10px;
        max-height: 300px;
        overflow-y: scroll;
    }
.info-festival {
    padding: 0 0 30px 0;
    .thumbnail-article {
        img{
            width: 100%;
            height: auto;
        }
    }
    span {
        text-transform: uppercase;
    }
    .content {
        padding: 30px 10px 0 0;
        font-weight: 400;
        h3 {
            font-weight: 700;
            margin: 7px 0;
        }
    }
  .user-stream-video{
    margin-bottom: 20px;
    a{
      display: inline-block;
      margin-right: 10px;
      img{
        width: 50px;
        height: auto;
        border-radius: 50%;
      }
    }
  }
    .res-summary-point {
        text-align: center;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        margin: 5px 0;
        padding: 5px 0;
        .sumary-point {
            font-size: 18px;
            color: #228aa9;
            font-weight: 700;
        }
        .sumary-common {
            font-size: 18px;
            font-weight: 700;
            color: $primary-color-content;
        }
    }
}
.br-theme-bootstrap-stars .br-widget{
    padding-top: 0px;
}
#slideImage {
    .modal-dialog{
        width: 400px;
        height: 400px;
    }
    .modal-body {
        padding: 0px;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
}
#watchVideo,#slideImage{
    .modal-content {
        border-radius: 0;
        background-color: transparent;
    }
    button{
        position: absolute;
        top:-14px;
        right: -17px;
        border: 0;
        background-color: transparent;
        opacity: 0.8;
        i{
            color: #fff;
            font-size: 30px;
        }
    }
    .modal-body{
        padding: 0;
    }
    .modal-dialog{
        margin-left: auto;
        margin-right: auto;
    }
}
#watchVideo{
    padding-right:0;
    iframe{
        height: 500px;
    }
    button{
        top: -5px;
        right: -18px;
    }
    .youtube-player{
        video{
            margin: 0 auto;
            width: 100%;
            height: auto;
        }
    }
}
.list-info{
    h3{
        font-size: 16px;
        text-transform: uppercase;
        background-color: #f9f9f9;
        &:hover{
            cursor: pointer;
        }
        i{
            width: 50px;
            height: 50px;
            background: #247BA0 none repeat scroll 0 0;
            padding-left: 14px;
            font-size: 25px;
            line-height: 50px;
            margin-right: 20px;
            color: #fff;
        }
    }
    h4{
        font-size: 16px;
        margin: 20px 5px;
    }
    .focus{
        background-color: #f80;
        color: #fff;
    }
}
.list-img-article{
    >img{
        height: auto;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .item-liveStream{
        width: 20%;
        float: left;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 5px;
        img{
            width: 100%;
            height: auto;
        }
        .info-user-live{
            a{
                color: #555;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
            }
        }
    }
}
.actionUser {
    a {
        text-align: center;
        display: inline-block;
        color: #fff;
        background-color: #f80;
        border: 1px solid #fff;
        transition: 0.4s;
        width: 40px;
        height: 40px;
        padding: 8px 0;
        font-size: 20px;
        &:hover {
            text-decoration: none;
            background-color: #247ba0;
        }
    }
    a:focus,
    a:visited {
        text-decoration: none;
    }
    .subcribed{
      background-color: gray !important;
    }
}
//comment
.comment-box{
    margin: 20px 0;
    padding-bottom: 20px;
    .form-control{
        border-radius: 0;
    }
    .text-right{
        margin-top: 10px;
    }
    border-bottom: 1px dashed #ddd;
}
.comment-box{
    img{width: 70px;}
}
.comment-render{
    font-size: 14px;
    margin-bottom: 60px;
    .item{
        margin-bottom: 10px;
    }
}
.comment-author-thumnail{
    img{
        width: 48px;
        margin: 0 auto;
        border-radius: 50%;
    }
}
.comment-render-content{
    min-height: 48px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    .close{
        font-size: 14px;
        margin-left: 10px;
    }
    .comment-render-text{
      min-height: 48px;
      p{
        // min-height: 48px;
        margin: 0;
      }
    }
}
.comment-render-image{
    >a{
        display: block;
        width: 60px;
        height: 60px;
        overflow: hidden;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        background-color: #ddd;
    }
    img{
        width: 100%;
        height: auto;
    }
    .btn-add-image{
        width: 80px;
        height: 80px;
        background-color: transparent;
        border: 2px dashed #ddd;
        color: #ddd;
        padding: 22px 24px;
        font-size: 35px;
        &:hover{
            border-color: #C6C4C4;
            color: #BCB7B7;
        }
    }
    .edit-image{
        width: 80px;
        height: 80px;
        position: relative;
        span{
            position: absolute;
            top:0;
            right: 0;
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: #c00;
            color: #fff;
            line-height: 0;
            padding: 5px;
        }
    }
}
.commen-render-header{
    a{
        color: #247ba0;
        font-weight: 600;
        margin-right: 5px;
    }
    span{
        font-size: 11px;

    }
}
#upEditableImage{
    .btn-upload-custom{
        display: block;
        width: 100%;
        background-color: rgba(255,255,255,0.7);
        color: #66757f;
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
        border: 1px dashed #ddd;
    }
    .margin-upload{
        margin: 10px 0
    }
    .text-right{
        padding: 10px;
        button{
            border: 1px solid #247ba0;
            padding: 5px 10px;
            background-color: #ffffff;
            width: 90px;
            text-align: center;
            font-weight: 400;
        }
        button:last-child{
            background-color: #247ba0;
            color: #ffffff;
        }
    }
}
#upImage{
    .btn-upload-custom{
        display: block;
        width: 100%;
        background-color: rgba(255,255,255,0.7);
        color: #66757f;
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
        border: 1px dashed #ddd;
    }
    .margin-upload{
        margin: 10px 0
    }
    .text-right{
        padding: 10px;
        button{
            border: 1px solid #247ba0;
            padding: 5px 10px;
            background-color: #ffffff;
            width: 90px;
            text-align: center;
            font-weight: 400;
        }
        button:last-child{
            background-color: #247ba0;
            color: #ffffff;
        }
    }
}

@media (max-width: 600px) {
    .list-img-article .item-liveStream {
        width: 35%;
    }
}
@media (max-width: 400px) {
    #watchVideo{
        .modal-dialog{
            margin-top: 30%;
        }
    }
    #slideImage .modal-dialog{
        width: calc(100% - 30px);
        height: auto;
        margin-top: 30%;

    }
  .info-festival .content h3{
    font-size: 16px;
    margin: 0;
  }
  .info-festival .content{
    padding-top: 0;
  }
  .list-info h3{
    font-size: 15px;
    i{
      width: 40px;
      height: 40px;
      padding-left: 10px;
      font-size: 20px;
      line-height: 40px;
      margin-right: 10px;
      color: #fff;
    }
  }
    .list-img-article .item-liveStream{
        width: 50%;
    }
}
.btn-show-more{
    width: 40px;
    height: 40px;
    border: 1px solid #282F3F;
    background-color: #282F3F;
    color: #fff;
    font-size: 20px;
}
