#review-top-list{
	padding: 50px 0;
	min-height: 50vh;
	img{
		width: 60px;
	}
	.username{
		a{
			font-size: 18px;
			color: #333;
			font-weight: 500;
			display: inline-block;
			width: 100%;
			white-space: nowrap;
			overflow: hidden !important;
			text-overflow: ellipsis;

			&:hover{
				text-decoration: none;
				color: #f80;
			}
		}
	}
	.user-item{
		margin-top: 10px;
	}
	.box-item{
		padding: 5px 0;
		background-color: #fff;
		border: 1px solid #eee;
	}
}