@import "var";

@mixin element($color: $cl-regular, $color-hover: $cl-white) {
  color: $color;
  &:hover {
    color: $color-hover;
  }
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;

}
