#profile {
  /*profile_area*/
}

#profile .profile_area {
  margin-top: 20px;
  /*user_left_page*/
  /*center_cold*/
}

#profile .profile_area .user_left_page {
  margin-top: 10px;
  color: #333;
  padding: 5px;
}

#profile .profile_area .user_left_page .user-avatar {
  text-align: center;
}

#profile .profile_area .user_left_page .user-avatar img {
  width: 160px;
  height: 160px;
}

#profile .profile_area .user_left_page .user-name-bar {
  text-align: center;
}

#profile .profile_area .user_left_page .user-name-bar h1 {
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 18px;
  margin: 0px;
}

#profile .profile_area .user_left_page .user-name-bar a {
  color: #333;
}

#profile .profile_area .user_left_page .provinceName {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#profile .profile_area .user_left_page .accProfile_item {
  border-bottom: 1px solid #ddd;
  color: #999;
  display: block;
  font-size: 12px;
  padding: 10px 0;
  text-decoration: none;
}

#profile .profile_area .user_left_page .accProfile_item:hover {
  color: #111;
  cursor: pointer;
}

#profile .profile_area .user_left_page .accProfile_curent {
  color: #333;
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 12px;
  padding: 7px 0;
  text-decoration: none;
}

#profile .profile_area .user_left_page .accProfile_curent:hover {
  cursor: pointer;
}

#profile .profile_area .user_left_page .fa-angle-right {
  float: right;
  font-size: 20px;
}

#profile .profile_area .user_left_page .fl-right {
  float: right;
  padding-right: 10px;
}

#profile .profile_area .center_cold {
  color: #333;
  padding: 5px;
}

#profile .profile_area .center_cold #infoUser {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px;
}

#profile .profile_area .center_cold #infoUser .item-info {
  margin-top: 5px;
  margin-bottom: 10px;
}

#profile .profile_area .center_cold #infoUser .item-info h2 {
  font-size: 14px;
  color: #444;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  margin: 0 0 10px 0;
  padding: 5px 0 10px 0;
}

#profile .profile_area .center_cold #filter-review h2 {
  font-size: 16px;
  font-weight: 700;
}

#profile .profile_area .center_cold .micro-home-review-item {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px;
  /*bdegin review*/
  /*end*/
}

#profile .profile_area .center_cold .micro-home-review-item .review-header {
  border-bottom: 1px solid #eee;
}

#profile .profile_area .center_cold .micro-home-review-item .review-header h1 {
  margin: 0px;
}

#profile .profile_area .center_cold .micro-home-review-item .review-header .restitle a {
  font-size: 14px;
  font-weight: 700;
  color: #444;
}

#profile .profile_area .center_cold .micro-home-review-item .review-header .resaddress {
  color: #777;
  font-size: 11px;
  margin-bottom: 3px;
}

#profile .profile_area .center_cold .micro-home-review-item ul,
#profile .profile_area .center_cold .micro-home-review-item li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline;
}

#profile .profile_area .center_cold .micro-home-review-item .desc {
  margin-bottom: 10px;
}

#profile .profile_area .center_cold .micro-home-review-item .title-desc {
  font-size: 14px;
  color: #444;
  font-weight: 600;
}

#profile .profile_area .center_cold .micro-home-review-item .photos {
  padding-bottom: 10px;
}

#profile .profile_area .center_cold .micro-home-review-item .timereview {
  color: #777;
  font-size: 11px;
}

#profile .profile_area .center_cold .micro-home-review-item img {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
}

#profile .profile_area .center_cold .micro-home-review-item .picturecounts {
  background-color: #ddd;
  padding: 5px 10px;
}

#profile .profile_area .center_cold .micro-home-review-item .picturecounts a {
  color: #333;
}

#profile .profile_area .center_cold .micro-home-review-item .picturecounts a:hover {
  text-decoration: underline;
}

#profile .profile_area .center_cold .micro-home-review-item .share {
  margin-top: 10px;
}

#profile .profile_area .center_cold .micro-home-review-item .share a {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  padding: 4px 10px;
  margin-right: 5px;
}

#profile .profile_area .center_cold .micro-home-review-item .share a:hover {
  color: #333;
  background-color: #ddd;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-all-comment {
  margin-top: 5px;
  margin-bottom: 5px;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-all-comment a:hover {
  text-decoration: underline;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item {
  padding-bottom: 5px;
  padding-top: 5px;
  background: #f0f0f0 none repeat scroll 0 0;
  border-bottom: 1px solid #fff;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .col-xs-11 {
  padding-left: 0px;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-avatar {
  padding-top: 5px;
  text-align: center;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-avatar img {
  width: 40px;
  border-radius: 40px;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-content .user-link {
  padding-right: 5px;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-content a {
  color: #000;
  text-transform: capitalize;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-content a:hover {
  text-decoration: underline;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-content .address {
  font-size: 11px;
  padding-right: 5px;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-content .userlike,
#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item .review-reply-item-content .glyphicon {
  color: #2fb8da;
}

#profile .profile_area .center_cold .micro-home-review-item .review-reply .review-reply-item textarea {
  height: 47px;
  width: 100%;
  border: 1px solid #eee;
}
